/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #fff;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  text-decoration: none;
  color: #212f3c;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 2px solid #f6f6f6;
  padding: 0 20px;
  box-shadow: rgba (33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 120px;
  height: auto;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  color: #212f3c;
  font-weight: 500;
}
.nav-links a:hover {
  color: #515a5a;
}
.nav-links a.active{
  border-bottom: 2px solid #212f3c; 
}
.social-media-icons a {
  font-size: 20px;
  padding: 3px;
}
.social-media-icons a:hover {
  color: #515a5a;
}

/* Breadcrumb */
.breadcrumb{
  background-color: #f6f6f6;
  padding: 15px 0;
  color: #212f3c;
}

/* Hero Image Section */
.hero{
  background-image: url("/image/hero-image.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-content h2{
  font-size: 45px;
  margin-bottom: 20px;
  color: #fff;
}
.intro-content h5{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 35px;
  color: #fff;
}
.hero-button{
  padding: 15px 20px;
  border: none;
  background-color: #ecefe6;
  color: #212f3c;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}



/* About Section */
.about-section{
  padding: 60px 0;
}
.about-grid{
  display: flex;
  align-items: center;
  gap: 40px;
}
.about-image img{
  width: 100%;
  height: auto;
  border-radius: 75%;
}
.about-text h3{
  font-size: 18px;
  margin-bottom: 15px;
}
.about-text p{
  text-align: justify;
}

/* Skill Section */
.skill-section{
background-color: #f6f6f6;
padding: 60px 0;
}
.skill-heading{
  font-size: 25px;
  margin-bottom: 70px;
  text-align: center;
}
.skill-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 30px; 
}
.skill img{
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.skill{
  text-align: center;
}
.skill h5{
  font-size: 18px;
}

/* Hobby Section */
.hobby-section{
  padding: 60px 0;
  }
  .hobby-heading{
    font-size: 25px;
    margin-bottom: 70px;
    text-align: center;
  }
  .hobby-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px; 
  }
  .hobby img{
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  .hobby{
    text-align: center;
  }
  .hobby h5{
    font-size: 18px;
  }

/* Gallery Section */
.gallery-section{
  padding: 70px 0;
}
.gallery-section h3{
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
}
.gallery-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(283px,1fr));
  gap: 30px;
}
.item{
  border: 1px solid #d5dbdb;
  padding: 12px;
  border-radius: 5px;
}
.item:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.1s all ease-in-out;
}
.item img{
  width: 100%;
  border-radius: 0px;
  margin-bottom: 15px;
}

/* Contact Section */
.contact{
  padding: 70px 0;
}
.contact-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 40px;
  align-items: start;
}
.contact-info h4, .contact-form h4{
  font-size: 18px;
  color: #212f3c;
  margin-bottom: 20px;
}
.contact-info p{
  margin-bottom: 10px;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-form input{
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.contact-form textarea{
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.contact-form button{
  padding: 18px;
  background-color: #212f3c;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.contact-form button:hover{
  background-color: #515a5a;
  transition: 0.5s ease-in-out;
}

/* Google Map */
.responsive-container{
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
.responsive-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;  
}

/* Footer */
.footer {
  background-color: #f6f6f6;
  border-top: 2px solid #515a5a;
  padding: 40px 0;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
}
.footer h5 {
  margin-bottom: 15px;
}
.footer p,
.footer ul {
  text-decoration: none;
  font-size: 14px;
  color: #212f3c;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-bottom: 7px;
}
.footer ul li a:hover {
  color: #515a5a;
}
.copyright {
  background-color: #5d6d7e;
  color: #fff;
  text-align: center;
  padding: 30px o;
  font-size: 14px;
}
